<!-- Opcion 1 - Un filtro para cada uno -->
<!-- BEGIN: Subheader -->
<div class="m-subheader d-print-none" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Dashboard
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!--<div>
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker"
                  onclick="window.print();">
                <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title">Imprimir</span>
                </span><a class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill" href="#"
                          ng-reflect-href="#"><i class="fa fa-print"></i></a>
            </span>
            &nbsp;
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker" (click)="exportVisible = !exportVisible">
                <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title">Exportar</span>
                </span>
                <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                    <i class="la la-angle-down"></i>
                </a>
            </span>
            <div *ngIf="exportVisible" class="daterangepicker dropdown-menu ltr opensleft" style="display: block; top: 142px; right: 30.0001px; left: auto;">
                <div class="ranges">
                    <ul>
                        <li data-range-key="Excel" (click)="exportExcel()"><i class="fa fa-file-excel-o"></i>&nbsp;Excel</li>
                        <li data-range-key="Csv" (click)="exportCsv()"><i class="fa fa-file-text-o"></i>&nbsp;Csv</li>
                    </ul>
                </div>
            </div>
        </div>-->
    </div>
</div>

<div style="page-break-after: always; padding: 20px; margin-top: 15px; background: white">

    <div class="row d-print-none">
        <div class="col-md-6">
            <div class="row d-print-none">
                <div class="col-md-5">
                    Desde
                    <dx-date-box type="date" displayFormat="dd/MM/yyyy" [(value)]="dmFilters.startDate"
                        style="width: 100%">
                    </dx-date-box>
                </div>
                <div class="col-md-5">
                    Hasta
                    <dx-date-box type="date" displayFormat="dd/MM/yyyy" [(value)]="dmFilters.endDate"
                        style="width: 100%">
                    </dx-date-box>
                </div>
                <div class="col-md-5">
                    Sucursal
                    <dx-lookup placeholder="-- Seleccione la Sucursal -- " [showClearButton]="true" style="width: 100%"
                        [(value)]="dmFilters.idSubsidiary" [dataSource]="dmSubSidiaryList" displayExpr="name"
                        valueExpr="id" [searchEnabled]="true" id="dmSubsidiary"
                        (onValueChanged)="subsidiary_onValueChanged($event)">
                        <dxo-drop-down-options [width]="300" [showTitle]="false">
                        </dxo-drop-down-options>
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Selecione la Sucursal">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-lookup>
                </div>
                <div class="col-md-5">
                    Mensajero
                    <dx-tag-box placeholder="-- Seleccione los usuarios -- " [items]="dmUserList"
                        [(value)]="dmFilters.idUser" displayExpr="fullName" valueExpr="id" [searchEnabled]="true"
                        [showSelectionControls]="true" selectAllMode="allPages" [maxDisplayedTags]="3">
                    </dx-tag-box>

                </div>
                <div class="col-md-2">
                    <br />
                    <div class="btn btn-success" (click)="loadDeliveriesMadeDashboard()"><i
                            class="fa fa-refresh"></i>&nbsp;Generar</div>
                </div>
            </div>
            <hr class=" d-print-none" />
            <div class="col-md-12">
                <dx-chart id="dmChart" title="Pedidos entregados" [dataSource]="dmDataSource">
                    <dxi-series argumentField="name" valueField="valueField" name="Sucursal" type="bar" color="#3cbab2">
                        <dxo-label [visible]="true" [format]="{
                                        type: 'fixedPoint',
                                        precision: '0'
                                    }">
                        </dxo-label>
                    </dxi-series>
                    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                    </dxo-legend>
                    <dxo-export [enabled]="true" fileName="PedidosEntregados">

                    </dxo-export>
                </dx-chart>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row d-print-none">
                <div class="col-md-5">
                    Desde
                    <dx-date-box type="date" displayFormat="dd/MM/yyyy" [(value)]="drFilters.startDate"
                        style="width: 100%">
                    </dx-date-box>
                </div>
                <div class="col-md-5">
                    Hasta
                    <dx-date-box type="date" displayFormat="dd/MM/yyyy" [(value)]="drFilters.endDate"
                        style="width: 100%">
                    </dx-date-box>
                </div>
                <div class="col-md-5">
                    Sucursal
                    <dx-lookup placeholder="-- Seleccione la Sucursal -- " [showClearButton]="true" style="width: 100%"
                        [(value)]="drFilters.idSubsidiary" [dataSource]="drSubSidiaryList" displayExpr="name"
                        valueExpr="id" [searchEnabled]="true" id="drSubsidiary"
                        (onValueChanged)="subsidiary_onValueChanged($event)">
                        <dxo-drop-down-options [width]="300" [showTitle]="false">
                        </dxo-drop-down-options>
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Selecione la Sucursal">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-lookup>
                </div>
                <div class="col-md-5">
                    Mensajero
                    <dx-tag-box placeholder="-- Seleccione los usuarios -- " [items]="drUserList"
                        [(value)]="drFilters.idUser" displayExpr="fullName" valueExpr="id" [searchEnabled]="true"
                        [showSelectionControls]="true" selectAllMode="allPages" [maxDisplayedTags]="3">
                    </dx-tag-box>

                </div>
                <div class="col-md-2">
                    <br />
                    <div class="btn btn-success" (click)="loadDeliveriesRejectedDashboard()"><i
                            class="fa fa-refresh"></i>&nbsp;Generar</div>
                </div>
            </div>
            <hr class=" d-print-none" />
            <div class="col-md-12">
                <dx-chart id="drChart" title="Pedidos rechazados" [dataSource]="drDataSource">
                    <dxi-series argumentField="name" valueField="valueField" name="Sucursal" type="bar" color="#3cbab2">
                        <dxo-label [visible]="true" [format]="{
                                        type: 'fixedPoint',
                                        precision: '0'
                                    }">
                        </dxo-label>
                    </dxi-series>

                    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                    </dxo-legend>
                    <dxo-export [enabled]="true" fileName="PedidosRechazados">

                    </dxo-export>
                </dx-chart>
            </div>
        </div>
    </div>
    <hr class=" d-print-none" />

    <div class="row d-print-none">
        <div class="col-md-6">
            <div class="row d-print-none">
                <div class="col-md-5">
                    Desde
                    <dx-date-box type="date" displayFormat="dd/MM/yyyy" [(value)]="buFilters.startDate"
                        style="width: 100%">
                    </dx-date-box>
                </div>
                <div class="col-md-5">
                    Hasta
                    <dx-date-box type="date" displayFormat="dd/MM/yyyy" [(value)]="buFilters.endDate"
                        style="width: 100%">
                    </dx-date-box>
                </div>
                <div class="col-md-5">
                    Sucursal
                    <dx-lookup placeholder="-- Seleccione la Sucursal -- " [showClearButton]="true" style="width: 100%"
                        [(value)]="buFilters.idSubsidiary" [dataSource]="buSubSidiaryList" displayExpr="name"
                        valueExpr="id" [searchEnabled]="true" id="buSubsidiary"
                        (onValueChanged)="subsidiary_onValueChanged($event)" >
                        <dxo-drop-down-options [width]="300" [showTitle]="false">
                        </dxo-drop-down-options>
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Selecione la Sucursal">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-lookup>
                </div>
                <div class="col-md-5">
                    Mensajero
                    <dx-tag-box placeholder="-- Seleccione los usuarios -- " [items]="buUserList"
                        [(value)]="buFilters.idUser" displayExpr="fullName" valueExpr="id" [searchEnabled]="true"
                        [showSelectionControls]="true" selectAllMode="allPages" [maxDisplayedTags]="3">
                    </dx-tag-box>

                </div>
                <div class="col-md-2">
                    <br />
                    <div class="btn btn-success" (click)="loadBusyUsers()"><i class="fa fa-refresh"></i>&nbsp;Generar
                    </div>
                </div>
            </div>
            <hr class=" d-print-none" />
            <div class="col-md-12">
                <dx-chart id="dmChart" title="Mensajeros ocupados" [dataSource]="buDataSource">
                    <dxi-series argumentField="name" valueField="valueField" name="Sucursal" type="bar" color="#3cbab2">
                        <dxo-label [visible]="true" [format]="{
                                        type: 'fixedPoint',
                                        precision: '0'
                                    }">
                        </dxo-label>
                    </dxi-series>
                    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                    </dxo-legend>
                    <dxo-export [enabled]="true" fileName="MensajerosOcupados">

                    </dxo-export>
                </dx-chart>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row d-print-none">
                <div class="col-md-5">
                    Desde
                    <dx-date-box type="date" displayFormat="dd/MM/yyyy" [(value)]="fuFilters.startDate"
                        style="width: 100%">
                    </dx-date-box>
                </div>
                <div class="col-md-5">
                    Hasta
                    <dx-date-box type="date" displayFormat="dd/MM/yyyy" [(value)]="fuFilters.endDate"
                        style="width: 100%">
                    </dx-date-box>
                </div>
                <div class="col-md-5">
                    Sucursal
                    <dx-lookup placeholder="-- Seleccione la Sucursal -- " [showClearButton]="true" style="width: 100%"
                        [(value)]="fuFilters.idSubsidiary" [dataSource]="fuSubSidiaryList" displayExpr="name"
                        valueExpr="id" [searchEnabled]="true" id="fuSubsidiary"
                        (onValueChanged)="subsidiary_onValueChanged($event)" >
                        <dxo-drop-down-options [width]="300" [showTitle]="false">
                        </dxo-drop-down-options>
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Selecione la Sucursal">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-lookup>
                </div>
                <div class="col-md-5">
                    Mensajero
                    <dx-tag-box placeholder="-- Seleccione los usuarios -- " id="diUserListId" [items]="fuUserList"
                        [(value)]="fuFilters.idUser" displayExpr="fullName" valueExpr="id" [searchEnabled]="true"
                        [showSelectionControls]="true" selectAllMode="allPages" [maxDisplayedTags]="3">
                    </dx-tag-box>

                </div>
                <div class="col-md-2">
                    <br />
                    <div class="btn btn-success" (click)="loadFreeUsers()"><i class="fa fa-refresh"></i>&nbsp;Generar
                    </div>
                </div>
            </div>
            <hr class=" d-print-none" />
            <div class="col-md-12">
                <dx-chart id="drChart" title="Mensajeros no ocupados" [dataSource]="fuDataSource">
                    <dxi-series argumentField="name" valueField="valueField" name="Sucursal" type="bar" color="#3cbab2">
                        <dxo-label [visible]="true" [format]="{
                                        type: 'fixedPoint',
                                        precision: '0'
                                    }">
                        </dxo-label>
                    </dxi-series>
                    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                    </dxo-legend>
                    <dxo-export [enabled]="true" fileName="MoensajerosNoOcupados">

                    </dxo-export>
                </dx-chart>
            </div>
        </div>
    </div>

    <hr class=" d-print-none" />

    <div class="row d-print-none">
        <div class="col-md-12">
            <div class="row d-print-none">
                <div class="col-md-2">
                    Desde
                    <dx-date-box type="date" displayFormat="dd/MM/yyyy" [(value)]="rrFilters.startDate"
                        style="width: 100%">
                    </dx-date-box>
                </div>
                <div class="col-md-2">
                    Hasta
                    <dx-date-box type="date" displayFormat="dd/MM/yyyy" [(value)]="rrFilters.endDate"
                        style="width: 100%">
                    </dx-date-box>
                </div>
                <div class="col-md-2">
                    Sucursal
                    <dx-lookup placeholder="-- Seleccione la Sucursal -- " [showClearButton]="true" style="width: 100%"
                        [(value)]="rrFilters.idSubsidiary" [dataSource]="rrSubSidiaryList" displayExpr="name"
                        valueExpr="id" [searchEnabled]="true" id="rrSubsidiary"
                        (onValueChanged)="subsidiary_onValueChanged($event)" >
                        <dxo-drop-down-options [width]="300" [showTitle]="false">
                        </dxo-drop-down-options>
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Selecione la Sucursal">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-lookup>
                </div>
                <div class="col-md-2">
                    Motivo de Rechazo
                    <dx-lookup placeholder="-- Seleccione el Motivo -- " [showClearButton]="true" style="width: 100%"
                        [(value)]="rrFilters.idRejectionType" [dataSource]="rejectionTypeList"
                        displayExpr="rejectionName" valueExpr="id" [searchEnabled]="true" >
                        <dxo-drop-down-options [width]="300" [showTitle]="false">
                        </dxo-drop-down-options>
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Selecione el Motivo">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-lookup>
                </div>
                <div class="col-md-2">
                    Mensajero
                    <dx-tag-box placeholder="-- Seleccione los usuarios -- " [items]="rrUserList"
                        [(value)]="rrFilters.idUser" displayExpr="fullName" valueExpr="id" [searchEnabled]="true"
                        [showSelectionControls]="true" selectAllMode="allPages" [maxDisplayedTags]="3">
                    </dx-tag-box>

                </div>
                <div class="col-md-2">
                    <br />
                    <div class="btn btn-success" (click)="loadRejectedReasonDashboard()"><i
                            class="fa fa-refresh"></i>&nbsp;Generar</div>
                </div>
            </div>

            <hr class=" d-print-none" />
            <div class="col-md-12">

                <dx-pie-chart id="pie" type="doughnut" title="Motivos de rechazo" palette="Soft Pastel"
                    [dataSource]="rrDataSource">
                    <dxi-series argumentField="name">
                        <dxo-label [visible]="true" format="">
                            <dxo-connector [visible]="true"></dxo-connector>
                        </dxo-label>
                    </dxi-series>
                    <dxo-export [enabled]="true"></dxo-export>
                    <dxo-legend [margin]="0" horizontalAlignment="right" verticalAlignment="top"></dxo-legend>
                    <dxo-tooltip [enabled]="true" format="">
                    </dxo-tooltip>
                </dx-pie-chart>
            </div>
        </div>
    </div>

</div>