<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Tipos de Paquetes
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Administración
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Tipos de Paquetes
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<span class="m-subheader__daterange" id="m_dashboard_daterangepicker"
				(click)="popupDataVisible = true; cleanModel();"><span class="m-subheader__daterange-label"><span
						class="m-subheader__daterange-title">Agregar</span></span><a
					class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill" href="#"
					ng-reflect-href="#"><i class="fa fa-plus"></i></a></span>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div id="content" style="margin-top: 15px; background: white; padding: 10px;">
    <dx-data-grid id="gridContainer" [dataSource]="packagesList" [showRowLines]="true" [showBorders]="true"
                  [rowAlternationEnabled]="true" [columnHidingEnabled]="true" [columnAutoWidth]="true">

        <dxo-export [enabled]="true" fileName="Tipos de paquetes"></dxo-export>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>

        <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."> </dxo-search-panel>

        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20,50]" [showInfo]="true">
        </dxo-pager>

        <dxi-column [width]="40" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
        </dxi-column>

        <dxi-column dataField="typeName" alignment="left" dataType="string" caption="Tipo Paquete">
        </dxi-column>

        <dxi-column [width]="100" dataField="active" alignment="left" dataType="boolean" caption="Activo" cellTemplate="activeCellTemplate">
        </dxi-column>

        <div *dxTemplate="let itemRow of 'activeCellTemplate'">
            <dx-check-box [(value)]="itemRow.data.active" [width]="80" [disabled]="true"></dx-check-box>
        </div>


        <div *dxTemplate="let itemRow of 'cellTemplate'">
            &nbsp;
            <i (click)="edit_packagetype_init(itemRow.data)" class="fa fa-pencil text-info local-icon-action"
               data-toggle="tooltip" data-placement="top" title="Editar los datos del Paquete"></i>&nbsp;&nbsp;
        </div>


    </dx-data-grid>
</div>

<dx-popup class="popup"  style="max-width: 500px; width: 95%" [height]="340"  [showTitle]="false" [dragEnabled]="false"
	[closeOnOutsideClick]="false" [(visible)]="popupDataVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view #scrollView
                        id="scrollview">
            <h3><i class="fa fa-archive"></i>&nbsp;&nbsp;Registro Tipo de paquete </h3>
            <hr />
            <div id="content" style="padding: 5px; font-size: 12pt">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Descripción</label>
                            <div class="col-sm-9">
                                <dx-text-box [showClearButton]="true" placeholder="Descripción" [(value)]="dataType.typeName"
                                             [readOnly]="fieldReadOnly">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Tipo de Paquete es requerido">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <dx-check-box [(value)]="dataType.active"
                                              [width]="80"
                                              text="Activo"></dx-check-box>
                            </div>
                        </div>

                    </div>
                </div>
                <hr />
                <div class="btn btn-raised btn-secondary pull-left" (click)="popupDataVisible=false; cleanModel();">
                    <i class="fa fa-ban"></i> Cancelar
                </div>
                &nbsp;
                <div class="btn btn-raised btn-success pull-right" (click)="save_packagetype()">
                    <i class="fa fa-check-square-o"></i> Aceptar
                </div>

            </div>
            </dx-scroll-view>
    </div>
</dx-popup>