<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Registro de Sucursales
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Empresa
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Sucursales
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker"
                  (click)="MoveToModifier('0');">
                <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title">Agregar</span>
                </span><a class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill" href="#"
                          ng-reflect-href="#"><i class="fa fa-plus"></i></a>
            </span>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div id="content" style="margin-top: 15px; background: white; padding: 10px;">
    <dx-data-grid id="gridContainer" [dataSource]="SubsidiaryList" [showRowLines]="true" [showBorders]="true"
                  [rowAlternationEnabled]="true" [columnHidingEnabled]="true">

        <dxo-export [enabled]="true" fileName="sucursales"></dxo-export>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>

        <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>

        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20,50]" [showInfo]="true">
        </dxo-pager>

        <dxi-column [width]="40" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
        </dxi-column>

        <dxi-column dataField="name" alignment="left" dataType="string" caption="Nombre">
        </dxi-column>

        <dxi-column dataField="address" alignment="left" dataType="string" caption="Dirección">
        </dxi-column>

        <dxi-column [width]="120" dataField="phoneNumber" alignment="left" dataType="string" caption="Teléfono">
        </dxi-column>

        <dxi-column  dataField="regionName" alignment="left" dataType="string" caption="Región">
        </dxi-column>

        <dxi-column [width]="168" dataField="hasPoligonalGeo" alignment="center" dataType="boolean" caption="Geocerca Poligonal">
        </dxi-column>

        <div *dxTemplate="let itemRow of 'cellTemplate'">
            &nbsp;
            <i (click)="MoveToModifier(itemRow.data.id)" class="fa fa-pencil text-info local-icon-action"
               data-toggle="tooltip" data-placement="top" title="Editar los datos de la sucursal"></i>&nbsp;&nbsp;
        </div>
    </dx-data-grid>
</div>