<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark d-print-none" id="m_aside_left_close_btn" appunwraptag="">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark d-print-none" style="background:  #0E0F79  !important;">

    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
        <div  class="m-stack__item m-brand  m-brand--skin-dark" style="margin-top: 10px;background: white !important; height: 100px !important; display: none;">
            <div class="m-stack m-stack--ver m-stack--general">
                <div class="m-stack__item m-stack__item--middle m-brand__logo">
                    <div style="text-align: center">
                        <img src="./assets/app/media/img/bg/ovt_logo.png" height="100">
                                    
                        <img style="display: none" height="60" src="./assets/app/media/img/bg/logogaleno.jpg">
                        </div>
                    </div>
            </div>
        </div>

        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
            <!-- First level menu -->

            <li class="m-menu__section" style="margin: 0px !important">
                <h4 class="m-menu__section-text">
                    Menú
                </h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <li *ngFor="let menuItem of menuItems" [ngClass]="menuItem.class" [routerLinkActive]="menuItem.submenu.length != 0 ? '' : 'm-menu__item--open'" [routerLinkActiveOptions]="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a [routerLink]="menuItem.class == 'm-menu__item  m-menu__item--submenu' ? null : menuItem.path" class="m-menu__link m-menu__toggle">
                    <i [ngClass]="menuItem.icon"></i>

                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text"><span [innerHTML]="menuItem.title"></span> </span>
                            <span *ngIf="menuItem.badge != ''" class="m-menu__link-badge">
                                <span class="m-badge m-badge--danger">
                                    {{menuItem.badge}}
                                </span>
                            </span>
                        </span>
                    </span>

                    <i *ngIf="menuItem.submenu.length > 0" class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu" *ngIf="menuItem.submenu.length > 0">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li *ngFor="let menuSubItem of menuItem.submenu" class="m-menu__item" routerLinkActive="m-menu__item--active" aria-haspopup="true">
                            <a [routerLink]="menuSubItem.path" class="m-menu__link">
                                <i [ngClass]="menuSubItem.icon">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text"> <span [innerHTML]="menuSubItem.title"></span></span>
                                        <span *ngIf="menuSubItem.badge != ''" class="m-menu__link-badge">
                                            <span class="m-badge m-badge--danger">
                                                {{menuSubItem.badge}}
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>


    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
