/* You can add global styles to this file, and also import other style files */
.dx-datagrid {
    background-color: #FFF !important; 
}

.dx-toolbar {
    background-color: #FFF !important; 
 
}

.dx-popup-content {
    background: white !important;
   
}

/*.dx-popup-normal {
     max-width: 90%;
}*/


/* Menu DataGrid*/
li.dx-menu-item-wrapper {
	line-height: 14px;
}

div.dx-menu.dx-widget.dx-visibility-change-handler.dx-collection.dx-menu-base.dx-datagrid.dx-cell-focus-disabled.dx-filter-menu {
    margin: 1px;
    height: 31px;
}

.local-icon-action{
    cursor: pointer;
    font-size: 12pt;
}

.m-content {
    margin-top: 15px;
    background: white;
    padding: 10px;
    height: 100%;
}

.m-content-modal {
    padding: 5px;
    font-size: 12pt
}