<!-- begin::Footer -->
<footer class="m-grid__item		m-footer d-print-none" appunwraptag="">
	<div class="m-container m-container--fluid m-container--full-height m-page__container">
		<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
			<div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
				<span class="m-footer__copyright">
					2020 &copy; Logistica
					<a href="#" class="m-link">
						BirdIt
					</a>
				</span>
			</div>
			<div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
				<ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Acerca de 
							</span>
						</a>
					</li>
					<li class="m-nav__item">
							<a href="#" class="m-nav__link">
								<span class="m-nav__link-text">
									Política Privacidad
								</span>
							</a>
						</li>
					<li class="m-nav__item">
						<a href="#"  class="m-nav__link">
							<span class="btn btn-default btn-sm">
								v. 0.1.0
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- end::Footer -->
