<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Usuarios
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Administración
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Usuarios
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!--<div>
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker"
                (click)="popupDataVisible = true"><span class="m-subheader__daterange-label"><span
                        class="m-subheader__daterange-title">Agregar</span></span><a
                    class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill" href="#"
                    ng-reflect-href="#"><i class="fa fa-plus"></i></a></span>
        </div>-->
    </div>
</div>
<!-- END: Subheader -->
<div id="content" style="height:600px; margin-top: 15px; background: white; padding: 10px;">
    <dx-data-grid id="gridContainer" [dataSource]="userList" [showRowLines]="true" [showBorders]="true"
                  [rowAlternationEnabled]="true" [columnHidingEnabled]="true">

        <dxo-export [enabled]="true" fileName="usuarios"></dxo-export>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>

        <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>

        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20,50]" [showInfo]="true">
        </dxo-pager>

        <dxi-column [width]="40" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
        </dxi-column>

        <dxi-column dataField="firstName" alignment="left" dataType="string" caption="Nombres">
        </dxi-column>

        <dxi-column dataField="lastName" alignment="left" dataType="string" caption="Apellidos">
        </dxi-column>

        <dxi-column [width]="120" dataField="genre" alignment="left" dataType="string" caption="Genero">
        </dxi-column>

        <dxi-column [width]="120" dataField="userName" alignment="left" dataType="string" caption="Usuario">
        </dxi-column>

        <dxi-column [width]="120" dataField="phoneNumber" alignment="left" dataType="string" caption="Teléfono">
        </dxi-column>

        <dxi-column [width]="120" dataField="email" alignment="left" dataType="string" caption="Correo">
        </dxi-column>

        <dxi-column [width]="140" dataField="birthDate" alignment="left" dataType="string" caption="Fecha nacimiento">
        </dxi-column>

        <dxi-column [width]="120" dataField="idCompany" alignment="left" dataType="string">
        </dxi-column>

        <dxi-column [width]="120" dataField="idSubsidiary" alignment="left" dataType="string">
        </dxi-column>

        <div *dxTemplate="let itemRow of 'cellTemplate'">
            &nbsp;
            <i (click)="edit_user_init(itemRow.data)" class="fa fa-pencil text-info local-icon-action" data-toggle="tooltip"
               data-placement="top" title="Editar los datos del usuario"></i>&nbsp;&nbsp;
        </div>


    </dx-data-grid>
</div>

<dx-popup class="popup" style="max-width: 500px; width: 90%" [height]="750" [showTitle]="false" [dragEnabled]="false"
          [closeOnOutsideClick]="false" [(visible)]="popupDataVisible">
    <div *dxTemplate="let data of 'content'">

        <dx-scroll-view #scrollView
                        id="scrollview">
            <h3><i class="fa fa-user"></i>&nbsp;&nbsp;Registro de usuario</h3>

            <hr />

            <div id="content" style="padding: 5px; font-size: 12pt">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nombres</label>
                            <div class="col-sm-9">
                                <dx-text-box [showClearButton]="true" placeholder="Nombre" [(value)]="model.firstName" [readOnly]="fieldReadOnly">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Nombre es requerido"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Apellidos</label>
                            <div class="col-sm-9">
                                <dx-text-box [showClearButton]="true" placeholder="Apellidos" [(value)]="model.lastName" [readOnly]="fieldReadOnly">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Apellidos es requerido"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Genero</label>
                            <div class="col-sm-9">
                                <dx-select-box [items]="genderList" displayExpr="name" valueExpr="name" [(value)]="model.genre"></dx-select-box>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Fecha nacimiento</label>
                            <div class="col-sm-9">
                                <dx-date-box type="date" displayFormat="dd/MM/yyyy" [(value)]="model.birthDate"
                                             style="width: 100%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Fecha nacimiento es requerido"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-date-box>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Teléfono</label>
                            <div class="col-sm-9">
                                <dx-text-box [showClearButton]="true" placeholder="Teléfono" [(value)]="model.phoneNumber" [readOnly]="fieldReadOnly">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Teléfono es requerido"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <dx-text-box [showClearButton]="true" placeholder="Email" [(value)]="model.email" [readOnly]="fieldReadOnly">
                                </dx-text-box>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Usuario</label>
                            <div class="col-sm-9">
                                <dx-text-box [showClearButton]="true" placeholder="Usuario" [(value)]="model.userName" [readOnly]="fieldReadOnly">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Usuario es requerido"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Contraseña</label>
                            <div class="col-sm-9">
                                <dx-text-box [showClearButton]="true" placeholder="Contraseña" [(value)]="model.passw" [readOnly]="fieldReadOnly">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Contraseña es requerida"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                        </div>

                    </div>
                </div>
                <hr />
                <div class="btn btn-raised btn-secondary pull-left" (click)="popupDataVisible=false">
                    <i class="fa fa-ban"></i> Cancelar
                </div>
                &nbsp;

                <div class="btn btn-raised btn-brand" (click)="get_union(model.id)">
                    <i class="fa fa-tasks"></i> Turnos
                </div>

                <div class="btn btn-raised btn-success pull-right" (click)="save_user()">
                    <i class="fa fa-check-square-o"></i> Aceptar
                </div>

            </div>
        </dx-scroll-view>
    </div>
</dx-popup>

<dx-popup class="popup" style="max-width: 990px; width: 90%" [height]="550" [showTitle]="false" [dragEnabled]="false"
          [closeOnOutsideClick]="false" [(visible)]="popupTurnosVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view #scrollView
                        id="scrollview2">
            <div class="row">

                <div class="col-md-6">

                    <h4 class="m-subheader__title m-subheader__title">
                        Turnos
                    </h4>

                    <hr />

                    <div id="content" style="margin-top: 15px; background: white; padding: 10px;">

                        <dx-data-grid #gridWorkSchedule id="gridTurnos" [dataSource]="workScheduleUserList" keyExpr="id" [selectedRowKeys]="[]" [showRowLines]="true" [showBorders]="true"
                                      [rowAlternationEnabled]="true" [columnHidingEnabled]="true" [columnAutoWidth]="true" (onSelectionChanged)="get_WorkDayHours($event)">


                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
                            <dxo-header-filter [visible]="true"></dxo-header-filter>
                            <dxo-paging [pageSize]="5"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20,50]" [showInfo]="true">
                            </dxo-pager>
                            <dxo-selection mode="single"></dxo-selection>

                            <dxi-column [width]="100" dataField="asignado" alignment="left" dataType="boolean" caption="Activo" cellTemplate="activeCellTemplate">
                            </dxi-column>
                            <dxi-column dataField="name" alignment="left" dataType="string" caption="Turno">
                            </dxi-column>
                            <div *dxTemplate="let itemRow of 'activeCellTemplate'">
                                <dx-check-box [(value)]="itemRow.data.asignado" [width]="80"></dx-check-box>
                            </div>
                        </dx-data-grid>

                    </div>

                </div>

                <div class="col-md-6">

                    <h4 class="m-subheader__title m-subheader__title">
                        Horarios del Turno
                    </h4>

                    <hr />

                    <div id="content" style="margin-top: 15px; background: white; padding: 10px;">
                        <dx-data-grid id="gridContainerschedule" [dataSource]="WorkDayHourList" [showRowLines]="true" [showBorders]="true"
                                      [rowAlternationEnabled]="true" [columnHidingEnabled]="true">

                            <dxo-load-panel [enabled]="true"></dxo-load-panel>

                            <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
                            <dxo-header-filter [visible]="true"></dxo-header-filter>

                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20,50]" [showInfo]="true">
                            </dxo-pager>

                            <dxi-column dataField="dayName" alignment="left" dataType="string" caption="Día">
                            </dxi-column>

                            <dxi-column dataField="hourStart" alignment="left" dataType="time" cellTemplate="dateTemplate" caption="Hora Inicio">
                            </dxi-column>

                            <dxi-column dataField="hourEnd" alignment="left" dataType="time"  cellTemplate="dateTemplate" caption="Hora Fin">
                            </dxi-column>

                            <div *dxTemplate="let data of 'dateTemplate'">
                                {{ data.value | date: 'HH:mm:ss'  }}
                            </div>

                        </dx-data-grid>


                    </div>

                </div>

            </div>

            <hr />
            <div class="btn btn-raised btn-secondary pull-left" (click)="popupTurnosVisible=false; cleanModel();">
                <i class="fa fa-ban"></i> Cancelar
            </div>
            &nbsp;


            <div class="btn btn-raised btn-success pull-right" (click)="save_WorkScheduleUser()">
                <i class="fa fa-check-square-o"></i> Aceptar
            </div>
        </dx-scroll-view>
    </div>

</dx-popup>



