<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Productos
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Administración
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Productos
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker"
                  (click)="popupDataVisible = true; cleanModel();">
                <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title">Agregar</span>
                </span><a class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill" href="#"
                          ng-reflect-href="#"><i class="fa fa-plus"></i></a>
            </span>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div id="content" style="margin-top: 15px; background: white; padding: 10px;">
    <dx-data-grid id="gridContainer" [dataSource]="data" [showRowLines]="true" [showBorders]="true"
                  [rowAlternationEnabled]="true" [columnHidingEnabled]="true">

        <dxo-export [enabled]="true" fileName="usuarios"></dxo-export>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>

        <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>

        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20,50]" [showInfo]="true">
        </dxo-pager>

        <dxi-column [width]="40" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
        </dxi-column>

        <dxi-column [width]="120" dataField="id" alignment="left" dataType="string" caption="Código" >
        </dxi-column>

        <dxi-column [width]="120" dataField="imagen" alignment="left" dataType="string" caption="Imagen" cellTemplate="imageCellTemplate">
        </dxi-column>

        <dxi-column dataField="name" alignment="left" dataType="string" caption="Nombre">
        </dxi-column>

        <dxi-column dataField="description" alignment="left" dataType="string" caption="Descripción">
        </dxi-column>

        <dxi-column [width]="120" dataField="type" alignment="left" dataType="string" caption="Tipo">
        </dxi-column>

        <dxi-column [width]="120" dataField="price" alignment="left" dataType="string" caption="Precio">
        </dxi-column>

        <dxi-column [width]="100" dataField="active" alignment="left" dataType="boolean" caption="Estado" cellTemplate="activeCellTemplate">
        </dxi-column>

        <div *dxTemplate="let itemRow of 'imageCellTemplate'">
            <img height="80" [src]="itemRow.data.imagen + '?v=' + versionLocalImage" alt="" />
        </div>

        <div *dxTemplate="let itemRow of 'activeCellTemplate'">
            <dx-check-box [(value)]="itemRow.data.active" [width]="80" [disabled]="true"></dx-check-box>
        </div>


        <div *dxTemplate="let itemRow of 'cellTemplate'">
            &nbsp;
            <i (click)="edit_init(itemRow.data)" class="fa fa-pencil text-info local-icon-action"
               data-toggle="tooltip" data-placement="top" title="Editar los datos del usuario"></i>&nbsp;&nbsp;
        </div>

    </dx-data-grid>
</div>

<dx-popup #package class="popup" style="max-width: 500px; width: 95%" [showTitle]="false" [dragEnabled]="false"
          [closeOnOutsideClick]="false" [(visible)]="popupDataVisible">
    <div *dxTemplate="let data of 'content'">
        
        <dx-scroll-view #scrollView id="scrollview">
            <h3><i class="fa fa-archive"></i>&nbsp;&nbsp;Registro de Producto <small *ngIf="applyChanges">Guardando...</small></h3>
            <hr />

            <div id="content" style="padding: 5px; font-size: 12pt">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="widget-container flex-box">
                                    <div
                                        id="dropzone-external"
                                        class="flex-box"
                                        [ngClass]="isDropZoneActive ? ['dx-theme-accent-as-border-color', 'dropzone-active'] : ['dx-theme-border-color']"
                                    >
                                        <img
                                            id="dropzone-image"
                                            [src]="imageSource"
                                            [hidden]="!imageSource"
                                            alt=""
                                        />
                                        <div
                                            id="dropzone-text"
                                            class="flex-box">
                                            <span>Jala la imagen aqui</span>
                                            <span>… o click aqui para buscarla.</span>
                                        </div>
                                        <dx-progress-bar
                                            #uploadProgress
                                            [min]="0"
                                            [max]="100"
                                            width="30%"
                                            [showStatus]="false"
                                            [visible]="progressVisible"
                                            [value]="progressValue"
                                        ></dx-progress-bar>
                                    </div>
                                    <dx-file-uploader
                                        #fileUploader
                                        dialogTrigger="#dropzone-external"
                                        dropZone="#dropzone-external"
                                        [multiple]="false"
                                        [allowedFileExtensions]="['.png']"
                                        uploadMode="instantly"
                                        [visible]="false"
                                        (onDropZoneEnter)="onDropZoneEnter($event)"
                                        (onDropZoneLeave)="onDropZoneLeave($event)"
                                        (onValueChanged)="onValueChanged($event)"
                                        (onProgress)="onProgress($event)"
                                        (onUploadStarted)="onUploadStarted($event)"
                                    ></dx-file-uploader>
                                </div>
                            </div>                            
                        </div>

                    </div>
                    <div class="col-md-9">
                        
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nombre</label>
                            <div class="col-sm-9">
                                <dx-text-box [showClearButton]="true" placeholder="Nombre" [(value)]="model.Name"
                                             [readOnly]="fieldReadOnly">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Nombre del Producto">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Descripción</label>
                            <div class="col-sm-9">
                                <dx-text-box [showClearButton]="true" placeholder="Descripción" [(value)]="model.Description"
                                             [readOnly]="fieldReadOnly">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Descripción es requerido">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tipo</label>
                            <div class="col-sm-9">
                                <dx-select-box displayExpr="name" valueExpr="name"
                                               [items]="typeList" [(value)]="model.Type" [readOnly]="fieldReadOnly">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Tipo es requerido">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                </dx-select-box>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Precio</label>
                            <div class="col-sm-9">
                                <dx-number-box [showClearButton]="true" placeholder="Precio" [(value)]="model.Price"
                                             [readOnly]="fieldReadOnly" [showSpinButtons]="true"
                                             [showClearButton]="true">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Precio es requerido">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                </dx-number-box>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <dx-check-box [(disabled)]="activeDisabled" [(value)]="model.Active" [width]="80" text="Activo"></dx-check-box>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <hr />
                <div class="btn btn-raised btn-secondary pull-left" (click)="popupDataVisible=false; cleanModel();">
                    <i class="fa fa-ban"></i> Cancelar
                </div>
                &nbsp;
                <div class="btn btn-raised btn-success pull-right" (click)="save()">
                    <i class="fa fa-check-square-o"></i> Aceptar
                </div>

            </div>

        </dx-scroll-view>
    </div>
</dx-popup>

<dx-load-panel #loadPanel
               shadingColor="rgba(0,0,0,0.4)"
               [position]="{ of: '#package' }"
               [(visible)]="loadingVisible"
               [showIndicator]="true"
               [showPane]="true"
               [shading]="true"
               [closeOnOutsideClick]="false">
</dx-load-panel>
