<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Registro de Sucursales
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Empresa
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Sucursales
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <span class="m-subheader__daterange btn-secondary" (click)="returnToSubsidiary();">
                <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title">Cancelar</span>
                </span><a class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill btn-secondary" href="#"
                          ng-reflect-href="#"><i class="fa fa-ban"></i></a>
            </span>
            <span class="m-subheader__daterange btn-success-important" (click)="SaveSubsidiary();">
                <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title title-important">Aceptar</span>
                </span><a class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill btn-success" href="#"
                          ng-reflect-href="#"><i class="fa fa-check-square-o"></i></a>
            </span>
        </div>
    </div>
</div>

<div id="content" style="margin-top: 15px; padding-top: 0px; font-size: 12pt; background: white;">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-12">
                    <dx-text-box [showClearButton]="true" placeholder="Nombre sucursal" [(value)]="model.name">
                        <dx-validator validationGroup="submitVal">
                            <dxi-validation-rule type="required" message="Nombre sucursal es un campo requerido"></dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [min]="2" message="El campo nombre debe contener al menos 2 caracteres"></dxi-validation-rule>
                            <dxi-validation-rule type="compare" [comparisonTarget]="NameComparison" message="Nombre de sucursal ya ha sido registrado"></dxi-validation-rule>
                            <dxi-validation-rule type="pattern" [pattern]="WhiteSpacePattern" message="Espacios al inicio o final del nombre no son permitidos"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-form-label">Dirección</label>
                <div class="col-sm-12">
                    <dx-text-box [showClearButton]="true" (onEnterKey)="LookAddres($event)" placeholder="Dirección" [(value)]="model.address">
                        <dxi-button name="today" location="after" [options]="LocateSubsidiary"></dxi-button>
                        <dx-validator validationGroup="submitVal">
                            <dxi-validation-rule type="required" message="Dirección es un campo requerido"></dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [min]="2" message="El campo dirección debe contener al menos 2 caracteres"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-form-label">Teléfono</label>
                <div class="col-sm-12">
                    <dx-number-box [showClearButton]="true" placeholder="Teléfono" [(value)]="model.phoneNumber">
                        <dx-validator validationGroup="submitVal">
                            <dxi-validation-rule type="required" message="Teléfono es un campo requerido"></dxi-validation-rule>
                        </dx-validator>
                    </dx-number-box>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-form-label">Región</label>
                <div class="col-sm-12">
                    <dx-select-box [dataSource]="regiones"
                                   displayExpr="regionName"
                                   valueExpr="id"
                                   placeholder="Seleccione una región"
                                   [(value)]="model.idRegion">
                        <dx-validator validationGroup="submitVal">
                            <dxi-validation-rule type="required" message="Región es un campo requerido"></dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <!--<div class="col-sm-6">
                    <div class="dx-field" style="margin-bottom:-10px;">
                        <dx-check-box [value]="model.hasGeofence"
                                      text="Circular"
                                      (onValueChanged)="checkBox_valueChanged($event)"></dx-check-box>
                    </div>
                </div>-->
                <!--<div class="dx-field" style="margin-bottom:-10px;">
                    <dx-check-box [value]="false"
                                  text="Marcar región poligonal"
                                  (onValueChanged)="Polygon_valueChanged($event)"></dx-check-box>
                </div>-->
            </div>
        </div>
        <div class="col-md-9">
            <div id="gmap" #gmap style="height:25.5em;"></div>
        </div>
    </div>
</div>