<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Ubicación
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Mapas
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/maps/locations" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Ubicación
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker" (click)="popupFiltrosVisible = true">
                <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title">Filtros</span>
                </span><a class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill"
                          href="#" ng-reflect-href="#"><i class="fa fa-filter"></i></a>
            </span>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div style="position: relative;">

    <div [style.display]="showUserList ? 'none' : 'block'"
         style="position: absolute; top: 60px; z-index: 2; background: #FFFFFF; padding: 10px 10px 5px 10px; border: solid 1px #ddd;">
        <h5>
            <div class="btn btn-secondary btn-sm" (click)="showUserList=true"><i class="fa fa-eye"></i></div>
            Lista de Usuarios
        </h5>
    </div>
    <div [style.display]="showUserList ? 'block' : 'none'"
         style="position: absolute; top: 60px; z-index: 2; background: #FFFFFF; padding: 10px; border: solid 1px #ddd;">
        <h5>
            <div class="btn btn-secondary btn-sm" (click)="showUserList=false"><i class="fa fa-eye-slash"></i></div>
            Lista de Usuarios
        </h5>
        <dx-data-grid id="gridContainer" [dataSource]="userList" [showRowLines]="true" [showBorders]="true"
                      [rowAlternationEnabled]="true" [columnHidingEnabled]="true" [columnAutoWidth]="true" [width]="450"
                      [hoverStateEnabled]="true" (onSelectionChanged)="user_onSelectionChanged($event)">

            <dxo-selection mode="single">
                <!-- "multiple" | "none" -->
            </dxo-selection>

            <dxo-load-panel [enabled]="true"></dxo-load-panel>

            <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>

            <dxo-paging [pageSize]="7"></dxo-paging>
            <dxo-pager [allowedPageSizes]="[7]">
            </dxo-pager>

            <dxi-column dataField="fullName" alignment="left" dataType="string" caption="Usuario">
            </dxi-column>

            <dxi-column [width]="150" dataField="state" alignment="left" dataType="string" caption="Estado"
                        cellTemplate="activeCellTemplate">
            </dxi-column>

            <div *dxTemplate="let itemRow of 'activeCellTemplate'">
                <table>
                    <tr>
                        <td>
                            <div style="width: 20px; height: 20px; border-radius: 50%; border: 0.5px solid #444;"
                                 [style.background]="get_state_color(itemRow.data.state)"></div>
                        </td>
                        <td>
                            <div style="padding-left: 5px;"> {{ itemRow.data.state }}</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div *dxTemplate="let itemRow of 'cellTemplate'">
                &nbsp;
                <i (click)="edit_packagetype_init(itemRow.data)" class="fa fa-pencil text-info local-icon-action"
                   data-toggle="tooltip" data-placement="top" title="Editar los datos del Paquete"></i>&nbsp;&nbsp;
            </div>

        </dx-data-grid>



    </div>

    <div id="gmap" #gmap style="height:600px; margin-top: 15px; z-index: 1;">
    </div>

</div>

<dx-popup class="popup" [showTitle]="false" [dragEnabled]="false" [closeOnOutsideClick]="false"
          [(visible)]="popupFiltrosVisible" style="max-width: 800px; width: 100%; max-height: 540px; height: 100%">
    <div *dxTemplate="let data of 'content'" style="overflow-y: auto; overflow-x: hidden">

        <h3><i class="fa fa-filter"></i>&nbsp;&nbsp;Filtros</h3>
        <hr />
        <div id="content" style="padding: 5px; font-size: 12pt;">
            <div class="row">
                <div class="col-md-4">

                    <label class="col-form-label">Fecha</label><br />
                    <div>
                        <dx-date-box type="date" displayFormat="dd/MM/yyyy" [(value)]="filters.startDate"
                                     style="width: 100%">
                        </dx-date-box>
                    </div>

                    <label class="col-form-label">Sucursal</label><br />
                    <div>
                        <dx-lookup placeholder="-- Seleccione la Sucursal -- " [showClearButton]="true"
                                   style="width: 100%" [(value)]="filters.idSubsidiary" [dataSource]="subSidiaryList"
                                   displayExpr="name" valueExpr="id" [searchEnabled]="true" *ngIf="!isCoordinator()"
                                   (onValueChanged)="subsidiary_onValueChanged($event)">
                            <dx-validator>
                                <dxi-validation-rule type="required" message="Selecione la Sucursal">
                                </dxi-validation-rule>
                            </dx-validator>
                        </dx-lookup>
                        <dx-text-box [readOnly]="true"
                                     *ngIf="isCoordinator()"
                                     [hoverStateEnabled]="false"
                                     [(value)]="userLoginData.subsidiaryName"></dx-text-box>
                    </div>


                    <div class="form-group row" style="display: none">
                        <div class="col-sm-6">
                            <dx-check-box [(value)]="filters.betterLocation"></dx-check-box>&nbsp;Mejor precisión
                        </div>
                    </div>


                </div>
                <div class="col-md-8">


                    <div class="row">
                        <div class="col-6">
                            <label class="col-form-label">Usuario</label>
                        </div>
                        <div class="col-6" style="padding-top: 7px; text-align: right">
                            <dx-check-box text="Todos" [(value)]="userAllSelected"
                                          (onValueChanged)="todo_user_selected($event)"></dx-check-box>
                        </div>
                    </div>
                    <div style="border: 1px solid #dedede">
                        <dx-list [dataSource]="userList" height="320px" style="width: 100%" [searchEnabled]="true"
                                 searchExpr="fullName" searchMode="contains">
                            <div *dxTemplate="let item of 'item'">
                                <div>
                                    <dx-check-box [(value)]="item.selected" [text]="item.fullName"></dx-check-box>
                                </div>
                            </div>
                        </dx-list>
                    </div>
                </div>
            </div>
            <hr />
            <div class="btn btn-raised btn-secondary pull-left" (click)="popupFiltrosVisible=false">
                <i class="fa fa-ban"></i> Cancelar
            </div>
            &nbsp;
            <div class="btn btn-raised btn-success pull-right" (click)="mapa_filter()">
                <i class="fa fa-check-square-o"></i> Aceptar
            </div>

        </div>
    </div>
</dx-popup>