<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Motivos de Rechazo
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Administración
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Motivos de Rechazo
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker"
                  (click)="new_rejectionType()">
                <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title">Agregar</span>
                </span><a class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill" href="#"
                          ng-reflect-href="#"><i class="fa fa-plus"></i></a>
            </span>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div id="content" style="height:auto; margin-top: 15px; background: white; padding: 10px;">
    <dx-data-grid id="gridContainer" [dataSource]="rejectionTypeList" [showRowLines]="true" [showBorders]="true"
                  [rowAlternationEnabled]="true" [columnHidingEnabled]="true">

        <dxo-export [enabled]="true" fileName="motivosRechazo"></dxo-export>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>

        <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>

        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20,50]" [showInfo]="true">
        </dxo-pager>

        <dxi-column [width]="40" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
        </dxi-column>

        <dxi-column dataField="rejectionName" alignment="left" dataType="string" caption="Descripción">
        </dxi-column>

        <dxi-column [width]="100" dataField="active" alignment="left" dataType="boolean" caption="Estado" cellTemplate="activeCellTemplate">
        </dxi-column>

        <div *dxTemplate="let itemRow of 'activeCellTemplate'">
            <dx-check-box [(value)]="itemRow.data.active" [width]="80" [disabled]="true"></dx-check-box>
        </div>

        <div *dxTemplate="let itemRow of 'cellTemplate'">
            &nbsp;
            <i (click)="edit_rejectionType_init(itemRow.data)" class="fa fa-pencil text-info local-icon-action" data-toggle="tooltip"
               data-placement="top" title="Editar los datos del registro"></i>&nbsp;&nbsp;
        </div>

    </dx-data-grid>
</div>

<dx-popup class="popup" style="max-width: 500px; width: 95%" [height]="340" [showTitle]="false" [dragEnabled]="false"
          [closeOnOutsideClick]="false" [(visible)]="popupDataVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view #scrollView
                        id="scrollview">
            <h3><i class="fa fa-user"></i>&nbsp;&nbsp;Registro de Motivos de rechazo</h3>
            <hr />

            <div id="content" style="padding: 5px; font-size: 12pt">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Descripción</label>
                            <div class="col-sm-9">
                                <dx-text-box maxLength="50" [showClearButton]="true" placeholder="Descripción" [(value)]="model.rejectionName" [readOnly]="fieldReadOnly">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="La descripción es requerida"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <dx-check-box [(disabled)]="activeDisabled" [(value)]="model.active" [width]="80" text="Activo"></dx-check-box>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="btn btn-raised btn-secondary pull-left" (click)="cancel_save_rejectionType()">
                    <i class="fa fa-ban"></i> Cancelar
                </div>
                &nbsp;
                <div class="btn btn-raised btn-success pull-right" (click)="save_rejectionType()">
                    <i class="fa fa-check-square-o"></i> Aceptar
                </div>

            </div>
            </dx-scroll-view>
    </div>
</dx-popup>