<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Administraci&oacute;n de Horarios
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <span class="m-subheader__daterange" id="m_add_schedule" (click)="popupDataVisible = true">
                <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title">Agregar</span>
                </span><a class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill" href="#"
                          ng-reflect-href="#"><i class="fa fa-plus"></i></a>
            </span>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div id="content" class="m-content">
    <div class="row">
        <dx-data-grid id="schedulesContainer" [dataSource]="schedulesList" [showRowLines]="true" [showBorders]="true"
                                  [rowAlternationEnabled]="true" [columnHidingEnabled]="true" [columnAutoWidth]="true">
            <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20,50]" [showInfo]="true">
            </dxo-pager>

            <dxi-column [width]="40" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
            </dxi-column>

            <dxi-column [width]="40" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate_adduser">
            </dxi-column>

            <dxi-column dataField="name" alignment="left" dataType="string" caption="Horario">
            </dxi-column>

            <dxi-column [width]="240" dataField="active" alignment="center" dataType="boolean" caption="Se encuentra Activo">
            </dxi-column>

            <div *dxTemplate="let itemRow of 'cellTemplate'">
                &nbsp;
                <i (click)="edit_schedule(itemRow.data)" class="fa fa-pencil text-info local-icon-action" data-toggle="tooltip" data-placement="top" title="Editar los datos del Horario"></i>&nbsp;&nbsp;
            </div>

            <div *dxTemplate="let itemRow of 'cellTemplate_adduser'">
                &nbsp;
                <i (click)="edit_user(itemRow.data);" class="fa fa-user text-info local-icon-action" data-toggle="tooltip" data-placement="top" title="Asignar o quitar usuarios del Horario"></i>&nbsp;&nbsp;
            </div>
        </dx-data-grid>
    </div>
</div>

<dx-popup class="popup" style="max-width: 550px; width: 95%" [height]="550" [showTitle]="false" [dragEnabled]="false"
          [closeOnOutsideClick]="false" [(visible)]="popupDataVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view #scrollView
                        id="scrollview">
            <h3><i class="fa fa-calendar"></i>&nbsp;&nbsp;Registro de horarios</h3>
            <hr />

            <div id="content-modal">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nombre</label>
                            <div class="col-sm-9">
                                <dx-text-box [showClearButton]="true" placeholder="Nombre de Horario" [(value)]="model.name" [readOnly]="fieldReadOnly">
                                    <dx-validator validationGroup="submitVal">
                                        <dxi-validation-rule type="required" message="Nombre es requerido"></dxi-validation-rule>
                                        <dxi-validation-rule type="stringLength" [min]="6" message="El campo nombre debe contener al menos 6 caracteres"></dxi-validation-rule>
                                        <dxi-validation-rule type="pattern" [pattern]="WhiteSpacePattern" message="Espacios al inicio o final del nombre no son permitidos"></dxi-validation-rule>
                                        <dxi-validation-rule type="compare" [comparisonTarget]="NameComparison" message="Nombre de horario ya ha sido registrado"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="dx-field" style="margin-top: 0.5em;">
                                    <dx-check-box [value]="model.active" text="Activo" (onValueChanged)="checkBox_valueChanged_Horario($event)"></dx-check-box>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="btn btn-raised btn-brand pull-right" (click)="popupDataVisible_Turno = true">
                                    <i class="fa fa-plus"></i> Agregar turno
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <dx-data-grid id="turnsContainer" [dataSource]="workingDayHourList" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" [columnHidingEnabled]="true">
                                <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
                                <dxo-header-filter [visible]="true"></dxo-header-filter>
                                <dxo-paging [pageSize]="3"></dxo-paging>
                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[2,3,4]" [showInfo]="true">
                                </dxo-pager>

                                <dxi-column [width]="40" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
                                </dxi-column>

                                <dxi-column [width]="((addTurno==true) ? 140 : 180)" dataField="DayName" alignment="left" dataType="string" caption="Dia">
                                </dxi-column>

                                <dxi-column [width]="((addTurno==true) ? 160 : 180)" dataField="timeStart" alignment="left" dataType="string" caption="Hora inicio">
                                </dxi-column>

                                <dxi-column [width]="((addTurno==true) ? 160 : 80)" dataField="timeEnd" alignment="left" dataType="string" caption="Hora fin">
                                </dxi-column>

                                <div *dxTemplate="let itemRow of 'cellTemplate'">
                                    &nbsp;
                                    <i (click)="edit_turn(itemRow.data)" class="fa fa-pencil text-info local-icon-action" data-toggle="tooltip" data-placement="top" title="Editar los datos del turno"></i>&nbsp;&nbsp;
                                </div>
                            </dx-data-grid>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="btn btn-raised btn-secondary pull-left" (click)="clearSecheduleModel(); popupDataVisible=false">
                    <i class="fa fa-ban"></i> Cancelar
                </div>
                &nbsp;
                <div class="btn btn-raised btn-success pull-right" (click)="SaveSchedule()">
                    <i class="fa fa-check-square-o"></i> Aceptar
                </div>

            </div>
            </dx-scroll-view>
    </div>
</dx-popup>

<dx-popup class="popup"  style="max-width: 450px; width: 95%" [height]="350" [showTitle]="false" [dragEnabled]="false"
          [closeOnOutsideClick]="false" [(visible)]="popupDataVisible_Turno">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view #scrollView
                        id="scrollview2">
            <h3><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Registro de turno</h3>
            <hr />

            <div id="content-modal-turno" class="m-content-modal">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">D&iacute;a de semana</label>
                            <div class="col-sm-8">
                                <dx-select-box [dataSource]="dayList"
                                               displayExpr="day"
                                               valueExpr="id"
                                               placeholder="Seleccione un d&iacute;a"
                                               [(value)]="Turno_Model.dayWeek">
                                    <dx-validator validationGroup="submitVal_Turno">
                                        <dxi-validation-rule type="required" message="D&iacute;a de semana es un campo requerido"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-select-box>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Hora inicio</label>
                            <div class="col-sm-8">
                                <dx-date-box [(value)]="Turno_Model.hourStart"
                                             type="time">
                                    <dx-validator validationGroup="submitVal_Turno">
                                        <dxi-validation-rule type="required" message="Hora inicio es un campo requerido"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-date-box>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Hora fin</label>
                            <div class="col-sm-8">
                                <dx-date-box [(value)]="Turno_Model.hourEnd"
                                             type="time">
                                    <dx-validator validationGroup="submitVal_Turno">
                                        <dxi-validation-rule type="required" message="Hora fin es un campo requerido"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-date-box>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="btn btn-raised btn-secondary pull-left" (click)="popupDataVisible_Turno=false; clearTurnoModel();addTurno=false;">
                    <i class="fa fa-ban"></i> Cancelar
                </div>
                &nbsp;
                <div class="btn btn-raised btn-success pull-right" (click)="SaveTurno();">
                    <i class="fa fa-check-square-o"></i> Aceptar
                </div>
            </div>
            </dx-scroll-view>
    </div>
</dx-popup>

<dx-popup class="popup"  style="max-width: 450px; width: 95%" [height]="550" [showTitle]="false" [dragEnabled]="false"
          [closeOnOutsideClick]="false" [(visible)]="popupDataVisible_Usuario">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view #scrollView
                        id="scrollview3">
            <h3><i class="fa fa-user"></i>&nbsp;&nbsp;Asignaci&oacute;n de usuarios</h3>
            <hr />

            <div id="content-modal-user">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <dx-data-grid id="gridUserContainer" [dataSource]="usersList" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" [columnHidingEnabled]="true" [columnAutoWidth]="false">

                                <dxo-load-panel [enabled]="true"></dxo-load-panel>

                                <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
                                <dxo-header-filter [visible]="true"></dxo-header-filter>
                                <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."> </dxo-search-panel>

                                <dxo-paging [pageSize]="4"></dxo-paging>
                                <dxo-pager [allowedPageSizes]="[2,6,4]">
                                </dxo-pager>

                                <dxi-column [width]="50" alignment="center" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
                                </dxi-column>

                                <dxi-column [width]="180" dataField="fullName" alignment="left" dataType="string" caption="Nombre de Usuario">
                                </dxi-column>

                                <dxi-column [width]="60" dataField="userName" alignment="left" dataType="string" caption="Usuario">
                                </dxi-column>

                                <div *dxTemplate="let itemRow of 'cellTemplate'">
                                    &nbsp;
                                    <dx-check-box [(value)]="itemRow.data.scheduleactive" (onValueChanged)="checkBox_valueChanged($event, itemRow.data)"></dx-check-box>
                                </div>

                            </dx-data-grid>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="btn btn-raised btn-secondary pull-left" (click)="clearUsers(); popupDataVisible_Usuario=false;">
                    <i class="fa fa-ban"></i> Cancelar
                </div>
                &nbsp;
                <div class="btn btn-raised btn-success pull-right" (click)="Save_User();">
                    <i class="fa fa-check-square-o"></i> Aceptar
                </div>
            </div>
            </dx-scroll-view>
    </div>
</dx-popup>