<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Ubicación
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Mapas
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a routerLink="/maps/locations" class="m-nav__link">
						<span class="m-nav__link-text">
							Ubicación
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<a routerLink="/maps/locations" class="m-subheader__daterange" id="m_dashboard_daterangepicker"
				><a
				class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill" href="#"
				ng-reflect-href="#"><i class="fa fa-arrow-left"></i></a><span class="m-subheader__daterange-label">
						
					<span
						class="m-subheader__daterange-title">Volver</span></span></a>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div id="gmap" #gmap style="height:600px; margin-top: 15px;"></div>

<dx-popup class="popup" [width]="500" [height]="400" [showTitle]="false" [dragEnabled]="false"
	[closeOnOutsideClick]="false" [(visible)]="popupFiltrosVisible">
	<div *dxTemplate="let data of 'content'">

		<h3><i class="fa fa-filter"></i>&nbsp;&nbsp;Filtros</h3>
		<hr />

		<div id="content" style="padding: 5px; font-size: 12pt">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Inicio</label>
						<div class="col-sm-10">
							<dx-date-box type="datetime" displayFormat="dd/MM/yyyy HH:mm:ss" [(value)]="filters.startDate" style="width: 100%">
							</dx-date-box>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Fin</label>
						<div class="col-sm-10">
								<dx-date-box type="datetime" displayFormat="dd/MM/yyyy HH:mm:ss" [(value)]="filters.endDate" style="width: 100%">
								</dx-date-box>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Usuario</label>
						<div class="col-sm-10">
							<dx-lookup placeholder="-- Seleccione el Usuario -- " [showClearButton]="true"
								[(value)]="filters.idUser" [dataSource]="userList" displayExpr="Text" valueExpr="Id"
								[searchEnabled]="true">
								<dx-validator>
									<dxi-validation-rule type="required" message="Selecione el Usuario">
									</dxi-validation-rule>
								</dx-validator>
							</dx-lookup>

						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<dx-check-box [(value)]="filters.betterLocation"></dx-check-box>&nbsp;Mejor precisión
						</div>

						<div class="col-sm-6">
							<dx-check-box [(value)]="realTime"></dx-check-box>&nbsp;Tiempo Real
						</div>
					</div>
					  

				</div>
			</div>
			<hr />
			<div class="btn btn-raised btn-secondary pull-left" (click)="popupFiltrosVisible=false">
				<i class="fa fa-ban"></i> Cancelar
			</div>
			&nbsp;
			<div class="btn btn-raised btn-success pull-right" (click)="mapa_filter()">
				<i class="fa fa-check-square-o"></i> Aceptar
			</div>

		</div>
	</div>
</dx-popup>
