<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Dashboard
			</h3>
		</div>
		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">

Aqui iria el dashboard
</div>
